# Ignorar la carpeta 'err'
err/

# Ignorar la carpeta 'proyects'
proyects/

# Ignorar la carpeta 'app'
app/

# Ignorar la carpeta '.github'
.github/

# Ignorar la carpeta '.vscode'
.vscode/

# Ignorar archivos JSON
*.json

# Ignorar archivos LOCK
*.lock

# Ignorar el archivo 'composer.phar'
composer.phar
