# Ignorar la carpeta '.github'

# Ignorar la carpeta '.vscode'
.vscode/

# Ignorar archivos JSON
# *.json

# Ignorar archivos LOCK
#*.lock

# Ignorar el archivo 'composer.phar'
#composer.phar

# Ignorar archivos sql
*.sql